name: moneylog_app
description: "A new Flutter project."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.10.7

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  table_calendar: ^3.0.9
  http: ^1.1.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
  # 폰트 설정
  fonts:
    - family: GmarketSans
      fonts:
        - asset: fonts/GmarketSansTTFMedium.ttf
        - asset: fonts/GmarketSansTTFBold.ttf
          weight: 700
        - asset: fonts/GmarketSansTTFLight.ttf
          weight: 300